---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "Dustworn Leathercrafts";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Dustworn isn't just a brand. It's a Philosophy</h2>
	<p>Wear is beauty. Time is the collaborator. Story is the goal.</p>
</BaseLayout>